<template name="portfolio">
  <section id="portfolio" class="pb-0">
    <div class="title center">
      <h4 class="upper">These are our works.</h4>
      <h2>Our Portfolio<span class="red-dot"></span></h2>
      <hr>
    </div>
    <div class="section-content mt-50 pb-0">
      <ul id="filters" class="no-fix">
        <li data-filter="*" class="active">All</li>
        <li data-filter=".web"><i class="icon-global"></i> Web Applications</li>
        <li data-filter=".mobile"><i class="icon-mobile"></i> Mobile</li>
        <li data-filter=".desktop"><i class="icon-desktop"></i> Desktop</li>
      </ul>
      <!-- end of portfolio filters-->
      <div id="works" class="three-col wide">
        <div class="work-item mobile">
          <div class="work-detail">
            <a href="portfolio-single-1.html">
              <img src="/images/portfolio/shact.jpg" alt="">
              <div class="work-info">
                <div class="centrize">
                  <div class="v-center">
                    <h3>Shact</h3>
                    <p>iOS, Android</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="work-item web">
          <div class="work-detail">
            <a href="portfolio-single-1.html">
              <img src="images/portfolio/sigalivre.jpg" alt="">
              <div class="work-info">
                <div class="centrize">
                  <div class="v-center">
                    <h3>SigaLivre</h3>
                    <p>Web Application</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="work-item web desktop">
          <div class="work-detail">
            <a href="/portfolio/ehs">
              <img src="/images/portfolio/ehs.jpg" alt="">
              <div class="work-info">
                <div class="centrize">
                  <div class="v-center">
                    <h3>EHS PMS</h3>
                    <p>Web Application, Windows</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
<!--         <div class="work-item web mobile">
  <div class="work-detail">
    <a href="portfolio-single-1.html">
      <img src="/images/portfolio/safed.jpg" alt="">
      <div class="work-info">
        <div class="centrize">
          <div class="v-center">
            <h3>SafeD Tracking System</h3>
            <p>Web Application, Mobile</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div> -->
        <div class="work-item mobile">
          <div class="work-detail">
            <a href="portfolio-single-1.html">
              <img src="/images/portfolio/lion-tax.jpg" alt="">
              <div class="work-info">
                <div class="centrize">
                  <div class="v-center">
                    <h3>Lion Tax Calendar</h3>
                    <p>Mobile</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="work-item web">
          <div class="work-detail">
            <a href="portfolio-single-1.html">
              <img src="/images/portfolio/techdb.jpg" alt="">
              <div class="work-info">
                <div class="centrize">
                  <div class="v-center">
                    <h3>TechDB</h3>
                    <p>Web Application</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="work-item mobile">
          <div class="work-detail">
            <a href="/portfolio/praxi-level">
              <img src="/images/portfolio/praxi-level.jpg" alt="">
              <div class="work-info">
                <div class="centrize">
                  <div class="v-center">
                    <h3>Praxi-Level</h3>
                    <p>Mobile</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

       <!--  <div class="work-item mobile">
         <div class="work-detail">
           <a href="portfolio-single-1.html">
             <img src="images/portfolio/1.jpg" alt="">
             <div class="work-info">
               <div class="centrize">
                 <div class="v-center">
                   <h3>Ballast Water Monitoring</h3>
                   <p>Web Application</p>
                 </div>
               </div>
             </div>
           </a>
         </div>
       </div> -->
      </div>
      <!-- end of portfolio grid-->
    </div>
    <!-- end of section content-->
  </section>
</template>
