<template name="about">
  <section id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-4 img-side img-left">
          <div class="img-holder overlay">
            <img src="images/bg/notes2.jpg" alt="" class="bg-img">
            <div class="centrize">
              <div class="v-center">
                <div class="title txt-sm-center txt-xs-center m-0">
                  <h3>About Us<span class="red-dot"></span></h3>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of side background image-->
      </div>
      <!-- end of row-->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
          <ul role="tablist" class="nav nav-tabs outline">
            <li role="presentation" class="active"><a href="#method-tab" role="tab" data-toggle="tab">Method</a>
            </li>
            <li role="presentation"><a href="#skills-tab" role="tab" data-toggle="tab">Skills</a>
            </li>
          </ul>
          <!-- end of nav tabs-->
          <div class="tab-content">
            <div id="method-tab" role="tabpanel" class="tab-pane fade in active">
              <p class="alt-paragraph mb-15">Consectetur adipisicing elit. Nisi quibusdam adipisci dignissimos nihil cumque sapiente dolorem, laborum.</p>
              <p class="alt-paragraph mb-15">Aperiam maxime qui sed necessitatibus earum voluptatem nobis modi soluta, unde aliquid veniam reiciendis repudiandae voluptas possimus!</p>
              <p class="alt-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur assumenda qui facilis magni quod quia quas recusandae cum rem amet, minus natus impedit autem dolores dolor, sed perspiciatis voluptate, est!</p>
            </div>
            <div id="skills-tab" role="tabpanel" class="tab-pane fade">
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/js.png" class="skill-badge" /> Javascript / ES6
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/html5.png" class="skill-badge" /> HTML5
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/css3.png" class="skill-badge" /> CSS3
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/nodejs.jpg" class="skill-badge" /> NodeJS
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/meteorjs.png" style="width: 25px; height:auto" /> MeteorJS
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/java.jpg" class="skill-badge" /> Android / Java
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/react.png" class="skill-badge" /> React / React Native
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/mongodb.png" class="skill-badge" /> MongoDB
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/mysql.png" style="width: 25px; height:auto" /> MySQL
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/elasticsearch.png" style="width: 25px; height:auto" /> Elasticsearch
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/aws.png" style="width: 25px; height:auto" /> AWS
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill">
                <span class="skill-name">
                    <img src="/images/badges/cordova.png" style="width: 25px; height:auto" /> Cordova
                  </span>
                <span class="skill-perc">100%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="100" class="progress-bar colored"></div>
                </div>
              </div>
            </div>
            <!-- end of tab content-->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
