<template name="intro">
  <!-- enf of home section-->
  <section id="intro">
    <div class="container">
      <div class="title center">
        <h4 class="upper">We are driven by creative.</h4>
        <h2>Who We Are<span class="red-dot"></span></h2>
        <hr>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p class="alt-paragraph mb-15 text-center">We are a company from <b>São Paulo, Brazil</b>. We are proud to say that we not only build software: we build entire products and turn dreams into reality.</p>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of section content-->
    </div>
    <!-- end of container-->
  </section>
</template>
