<template name="counters">
  <section id="counters">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="counter">
            <div class="counter-icon"><i class="icon-presentation"></i>
            </div>
            <div class="counter-content">
              <h5><span data-count="73" class="number-count">0</span><span class="red-dot"></span></h5><span>Projects</span>
            </div>
          </div>
          <!-- end of counter              -->
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter">
            <div class="counter-icon"><i class="icon-beaker"></i>
            </div>
            <div class="counter-content">
              <h5> <span data-count="412392" class="number-count">0</span><span class="red-dot"></span></h5><span>Lines of Code</span>
            </div>
          </div>
          <!-- end of counter              -->
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter">
            <div class="counter-icon"><i class="icon-hourglass"></i>
            </div>
            <div class="counter-content">
              <h5><span data-count="45" class="number-count">0</span><span class="red-dot"></span></h5><span>Clients</span>
            </div>
          </div>
          <!-- end of counter              -->
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter">
            <div class="counter-icon"><i class="icon-speedometer"></i>
            </div>
            <div class="counter-content">
              <h5><span data-count="872" class="number-count">0</span><span class="red-dot"></span></h5><span>Liters of Coffee</span>
            </div>
          </div>
          <!-- end of counter              -->
        </div>
      </div>
    </div>
  </section>
</template>
