<template name="costumers">
  <section id="costumers">
    <div class="container">
      <div class="title center">
        <h4 class="upper">Some of the best.</h4>
        <h3>Our Clients<span class="red-dot"></span></h3>
        <hr>
      </div>
      <div class="section-content">
        <div class="boxes clients">
          <div class="row">
            <div class="col-sm-4 col-xs-6 border-right border-bottom">
              <div class="">
                <img src="images/costumers/aes.png" alt="" class="client-image wow fadeInUp">
              </div>
            </div>
            <div class="col-sm-4 col-xs-6 border-right border-bottom">
              <img src="images/costumers/bcoa.png" alt="" class="client-image wow fadeInUp">
            </div>
            <div class="col-sm-4 col-xs-6 border-bottom">
              <img src="images/costumers/safed.png" alt="" class="client-image wow fadeInUp">
            </div>
            <div class="col-sm-4 col-xs-6 border-right border-bottom">
              <img src="images/costumers/monster-joy.png" alt="" class="client-image wow fadeInUp">
            </div>
            <div class="col-sm-4 col-xs-6 border-right border-bottom">
              <img src="images/costumers/cilip.png" alt="" class="client-image wow fadeInUp">
            </div>
            <div class="col-sm-4 col-xs-6  border-bottom">
              <img src="images/costumers/envisioning.png" alt="" class="client-image wow fadeInUp">
            </div>
            <div class="col-sm-4 col-xs-6 border-right">
              <img src="images/costumers/pense-tecnologia.png" alt="" class="client-image wow fadeInUp">
            </div>
            <div class="col-sm-4 col-xs-6 border-right ">
              <img src="images/costumers/ehs.png" alt="" class="client-image wow fadeInUp">
            </div>
            <div class="col-sm-4 col-xs-6 ">
              <img src="images/costumers/liontax.png" alt="" class="client-image wow fadeInUp">
            </div>
          </div>
          <!-- end of row-->
        </div>
      </div>
      <!-- end of section content-->
    </div>
    <!-- end of container-->
  </section>
</template>
