<template name="team">
  <section id="team">
    <div class="container">
      <div class="title center">
        <h4 class="upper">Passion. Dedition. Determination.</h4>
        <h2>Meet The Team<span class="red-dot"></span></h2>
        <hr>
      </div>
      <div class="section-content">
        <div class="owl-carousel">
          <div class="team-member">
            <div class="team-image">
              <img src="images/team/rafael.png" alt="">
            </div>
            <div class="team-info">
              <h3>Rafael Ribeiro Correia</h3><span>Software Engineer and Founder</span>
            </div>
            <div class="team-social">
              <ul>
                <li><a href="https://github.com/rafaelcorreiapoli" target="blank"><i class="ti-github"></i></a>
                </li>
                <li><a href="https://br.linkedin.com/in/rafael-ribeiro-correia-6018aa112" target="blank"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- end of team member-->
          <div class="team-member">
            <div class="team-image">
              <img src="images/team/lucas.png" alt="">
            </div>
            <div class="team-info">
              <h3>Lucas Nogueira Munhoz</h3><span>Software Engineer and Founder</span>
            </div>
            <div class="team-social">
              <ul>
                <li><a href="https://github.com/lnmunhoz" target="blank"><i class="ti-github"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/lucasnmunhoz/en" target="blank"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- end of team member-->
        </div>
      </div>
      <!-- end of section content-->
    </div>
    <!-- end of container-->
  </section>
</template>
