<template name="praxiLevel">
 <section class="page-title parallax">
    <div data-parallax="scroll" data-image-src="/images/portfolio/praxi-level/bg.jpg" class="parallax-bg"></div>
    <div class="parallax-overlay">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="title center">
              <h1 class="upper">PRAXI LEVEL<span class="red-dot"></span></h1>
              <h4>Water tank monitoring system.</h4>
              <hr>
            </div>
          </div>
          <!-- end of container-->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="project-detail">
            <p><strong>Client:</strong>Pense Tecnologia</p>
            <p><strong>Date:</strong>10 February, 2016</p>
            <p><strong>Link:</strong><a href="http://pensetecnologia.com.br" target="blank">http://www.pensetecnologia.com.br</a>
            </p>
            <p><strong>Type:</strong>Android</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p>For this product , we use <b>NodeJS</b> for the backend , leveraging the power of <b>sockets</b>. For the application that operates on touch screen machines , we use the <b>Electron</b>.</p>
        </div>
        <div class="col-sm-4">
          <p>Everything was built on the top of <b>MeteorJS</b> framework which ensures that all machines are always <b>synchronized</b> with the server and all actions are propagated in <b>real time</b>.</p>
        </div>
      </div>
      <!-- end of row-->
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 img-side img-left">
          <div class="img-holder">
            <img src="/images/portfolio/praxi-level/seca.jpg" alt="" class="bg-img">
          </div>
        </div>
      </div>
      <!-- end of row            -->
    </div>
    <!-- end of container-->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
          <div class="title">
            <h4 class="upper mb-10">Short description.</h4>
            <h3 class="upper fw-400">The challenge<span class="red-dot"></span></h3>
            <hr>
          </div>
          <p class="mb-25 alt-paragraph">
          <!--
          com as crises hídricas atingindo as grandes cidades brasileiras e a falta de água em condomínios se tornando algo cada vez mais comum, era necessário alguma forma inteligente e automatizada de prever este tipo de incidente para que os moradores pudessem agir de maneira preventiva
          -->
            With water crisis affecting the large cities and the lack of water in condominiums becoming something increasingly common, it needed some intelligent and automated way to predict this kind of incident so that residents could act preventively.
          </p>
        </div>
      </div>
      <!-- end of row        -->
    </div>
    <!-- end of container-->
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 img-side img-right">
          <div class="img-holder">
            <img src="/images/portfolio/praxi-level/sensors.jpg" alt="" class="bg-img">
          </div>
        </div>
      </div>
      <!-- end of row              -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 txt-sm-right txt-md-right">
          <div class="title">
            <h4 class="upper mb-10">Short description.</h4>
            <h3 class="upper fw-400">The solution<span class="red-dot"></span></h3>
            <hr>
          </div>
          <p class="mb-25 alt-paragraph">
          <!--A empresa decidiu desenvolver sensores que, espalhados pelo condomínio, pudessem monitorar a instalação hídrica do local, como por exemplo o nível das caixas de água e o funcionamento das bombas de recalque. Toda esta informação deveria ser enviada para um software que fizesse o processamento dos dados e os exibisse de forma concisa e direta para os funcionários responsáveis-->
            PenseTecnologia decided to develop sensors that, around the condominium, could monitor the water installation, and obtain values such as the level of water tanks and the operation of the pump discharge . All this information should be sent to a software to do data processing and exhibit concisely and directly to the responsible officials
          </p>
        </div>
      </div>
      <!-- end of row-->
    </div>
    <!-- end of container-->
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 img-side img-left">
          <div class="img-holder">
            <img src="/images/portfolio/praxi-level/tablet.jpg" alt="" class="bg-img">
          </div>
        </div>
      </div>
      <!-- end of row              -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
          <div class="title">
            <h4 class="upper mb-10">Short description.</h4>
            <h3 class="upper fw-400">The final product<span class="red-dot"></span></h3>
            <hr>
          </div>
          <p class="mb-25 alt-paragraph">
          <!--
A bornscale desenvolveu um aplicativo para android que mostra de forma esquemática a instalação do condomínio e atualiza a interface gráfica conforme os valores são lidos dos sensores através da porta USB.
O sistema ainda faz diversas extrapolações com os dados, como por exemplo detectar quando o sistema está operando em uma condição fora do normal, gerando alertas para prever faltas d'água e mal funcionamento da instalação hídrica, favorecendo manutenções preventivas -->          
            BornScale developed an application for Android that shows schematically the water installation of condominium and updates the graphical interface as the values ​​are read from the sensors via the USB port .
The system also makes several extrapolations with data, such as detecting when the system is operating in an out of the ordinary, generating alerts for predicting water shortages and malfunctions of water installation, favoring preventive maintenance
          </p>
        </div>
      </div>
      <!-- end of row-->
    </div>
    <!-- end of container-->
  </section>  
</template>