<template name="sigaLivre">
  <section class="page-title parallax">
    <div data-parallax="scroll" data-image-src="/images/portfolio/ehs/bg.jpg" class="parallax-bg"></div>
    <div class="parallax-overlay">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="title center">
              <h1 class="upper">Siga Livre<span class="red-dot"></span></h1>
              <h4>Complete human resources management and visualizating system.</h4>
              <hr>
            </div>
          </div>
          <!-- end of container-->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="project-detail">
            <p><strong>Client:</strong>AES Eletropaulo.</p>
            <p><strong>Date:</strong>01 August, 2015</p>
            <p><strong>Link:</strong><a href="https://www.aeseletropaulo.com.br/Paginas/aes-eletropaulo.aspx" target="blank">https://www.aeseletropaulo.com.br</a>
            </p>
            <p><strong>Type:</strong>Web Application</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p>For this product , we use <b>NodeJS</b> for the backend , leveraging the power of <b>sockets</b>. For the application that operates on touch screen machines , we use the <b>Electron</b>.</p>
        </div>
        <div class="col-sm-4">
          <p>Everything was built on the top of <b>MeteorJS</b> framework which ensures that all machines are always <b>synchronized</b> with the server and all actions are propagated in <b>real time</b>.</p>
        </div>
      </div>
      <!-- end of row-->
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 img-side img-left">
          <div class="img-holder">
            <img src="/images/portfolio/ehs/factory-workers.jpg" alt="" class="bg-img">
          </div>
        </div>
      </div>
      <!-- end of row            -->
    </div>
    <!-- end of container-->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
          <div class="title">
            <h4 class="upper mb-10">Short description.</h4>
            <h3 class="upper fw-400">The challenge<span class="red-dot"></span></h3>
            <hr>
          </div>
          <p class="mb-25 alt-paragraph">
            AES Eletropaulo has a tool for very interesting career path. In it, employees can consult all areas, offices and the senioridades interactively company. The problem is that the tool was built long ago, and difficult to maintain, presenting problems and did not implement all the requirements for the system.
          </p>
        </div>
      </div>
      <!-- end of row        -->
    </div>
    <!-- end of container-->
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 img-side img-right">
          <div class="img-holder">
            <img src="/images/portfolio/ehs/lights-light-bulb-idea.jpg" alt="" class="bg-img">
          </div>
        </div>
      </div>
      <!-- end of row              -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 txt-sm-right txt-md-right">
          <div class="title">
            <h4 class="upper mb-10">Short description.</h4>
            <h3 class="upper fw-400">The solution<span class="red-dot"></span></h3>
            <hr>
          </div>
          <p class="mb-25 alt-paragraph">
            After some meetings with the responsible department, we decided that a total reconstruction of the system and the database would be needed. In the new structure, the system parameters would be much more flexible to accommodate the constant changes in the organization of the company. Moreover, we should implement a powerful search engine to facilitate user usability when trying to find the area or position of his interest among the thousands available.
          </p>
        </div>
      </div>
      <!-- end of row-->
    </div>
    <!-- end of container-->
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 img-side img-left">
          <div class="img-holder">
            <img src="/images/portfolio/ehs/maquina-visor.png" alt="" class="bg-img">
          </div>
        </div>
      </div>
      <!-- end of row              -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
          <div class="title">
            <h4 class="upper mb-10">Short description.</h4>
            <h3 class="upper fw-400">The final product<span class="red-dot"></span></h3>
            <hr>
          </div>
          <p class="mb-25 alt-paragraph">
            With a modern look, easy to use and aimed at user experience, the page has met all expectations, including receiving an internal award for the initiative and final result. In addition to the page for consultation, Bornscale built a powerful and fully customized administrative panel, which enabled AES Eletropaulo absolute control of the areas, structures, positions and seniority of the company.
          </p>
        </div>
      </div>
      <!-- end of row-->
    </div>
    <!-- end of container-->
  </section>
</template>
