<template name="technologies">
  <section class="pb-50 pt-50">
    <div class="container">
      <div class="owl-stage-outer">
        <div data-options="" class="tech-carousel">
          <div class="client">
            <img src="images/technologies/nodejs.jpg" alt="">
          </div>
          <div class="client">
            <img src="images/technologies/meteorjs.jpg" alt="">
          </div>
          <div class="client">
            <img src="images/technologies/react.jpg" alt="">
          </div>
          <div class="client">
            <img src="images/technologies/mongodb.jpg" alt="">
          </div>
          <div class="client">
            <img src="images/technologies/mysql.jpg" alt="">
          </div>          
          <div class="client">
            <img src="images/technologies/java.jpg" alt="">
          </div>
          <div class="client">
            <img src="images/technologies/heroku.jpg" alt="">
          </div>
          <div class="client">
            <img src="images/technologies/aws.jpg" alt="">
          </div>
          <div class="client">
            <img src="images/technologies/elastic.jpg" alt="">
          </div>      
          <div class="client">
            <img src="images/technologies/balsamiq.jpg" alt="">
          </div>                         
          <div class="client">
            <img src="images/technologies/codeship.jpg" alt="">
          </div>                                   
        </div>
        <!-- end of section content-->
      </div>
    </div>
    <!-- end of container-->
  </section>
</template>
